:host {
    display: block;
    height: 100%;
    overflow: hidden;
}

.logo {
    font-size: 30px;
}

.header {
    background-color: lightgrey;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .book {
    display: inline-block;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 16px 40px 15px 40px;
    cursor: pointer;
}

.header .book:hover {
    text-decoration: underline;
}

.header .title {
    display: inline-block;
    font-weight: normal;
    font-size: 25px;
    padding: 15px 0px 0px 40px;
}

.header input {
    position: absolute;
    right: 40px;
    top: 12px;
    height: 30px;
    width: 20%;
    padding-left: 10px;
}

.ui-accordion-header.ui-state-active {
    border: 0;
}

.split-pane {
    height: calc(100% - 60px) !important;
    display: block;
}

.split-pane-content-primary, .split-pane-content-secondary {
    height: calc(100% - 20px) !important;
}

.book {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

.book .chapter {
    
}

.book .chapter .ltr {
    text-align: left;
    line-height: 30px;
}

.book .chapter .rtl {
    text-align: right;
    line-height: 20px;
}

.book .chapter .verse {
    display: inline;
}

.book .chapter .verse .text {
    display: inline;
}

.book .chapter .verse .number {
    display: inline;
    font-weight: bold;
}

.book .chapter .ltr .verse .number {
    padding-right: 5px;
}

.book .chapter .rtl .verse .number {
    padding-left: 5px;
    float:right;
}