<div class="header">
  <div class="book" (click)="click_book()">{{book}} {{chapter}}</div>
  <div class="title">Bible "thoughts" with Mark Stone</div>
  <input type="text" pInputText placeholder="Search">
</div>
<p-sidebar [(visible)]="showSideMenu">
  <p-accordion [activeIndex]="book_num - 1" expandIcon="" collapseIcon="">
    <div *ngFor="let book of books">
      <p-accordionTab header="{{book.title}}">
        <div class="ui-g">
            <div class="ui-g-2" *ngFor="let c of numArray(1, book.num_of_chapters + 1)">{{c}}</div>
        </div>
      </p-accordionTab>
    </div>
  </p-accordion>
</p-sidebar>
<vertical-split-pane class="split-pane"
    primary-component-minsize="300"
    primary-component-initialratio="0.5">

    <div class="split-pane-content-primary">
        <div class="book">
          <div class="chapter" *ngFor="let chapter of left_chapters">
              <div class="ltr" *ngIf="!chapter.rtl">
                <div class="verse" *ngFor="let verse of chapter.verses">
                  <div class="number" *ngIf="verse.number">{{verse.number}}</div>
                  <div class="text">{{verse.text}}</div>
                  <div class="linebreak" *ngIf="verse.linebreak">&nbsp;</div>
                </div>
              </div>
              <div class="rtl" *ngIf="chapter.rtl">
                <div class="verse" *ngFor="let verse of chapter.verses">
                  <div class="text">{{verse.text}}</div>
                  <div class="number" *ngIf="verse.number">{{verse.number}}</div>
                  <div class="linebreak" *ngIf="verse.linebreak">&nbsp;</div>
                </div>
              </div>
          </div>
        </div>
    </div>

    <div class="split-pane-content-secondary">
        <div class="book">
            <div class="chapter" *ngFor="let chapter of right_chapters">
              <div class="ltr" *ngIf="!chapter.rtl">
                <div class="verse" *ngFor="let verse of chapter.verses">
                  <div class="number" *ngIf="verse.number">{{verse.number}}</div>
                  <div class="text">{{verse.text}}</div>
                  <div class="linebreak" *ngIf="verse.linebreak">&nbsp;</div>
                </div>
              </div>
              <div class="rtl" *ngIf="chapter.rtl">
                <div class="verse" *ngFor="let verse of chapter.verses">
                  <div class="text">{{verse.text}}</div>
                  <div class="number" *ngIf="verse.number">{{verse.number}}</div>
                  <div class="linebreak" *ngIf="verse.linebreak">&nbsp;</div>
                </div>
              </div>
            </div>
        </div>
    </div>

</vertical-split-pane>