:host {
    display: block;
    height: 100%;
    overflow: hidden;
}

.logo {
    font-size: 30px;
}

.header {
    background-color: #D9D4DF;
    color: #422360;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
}

.header .book {
    display: inline;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
}

.header .book:hover {
    text-decoration: underline;
}

.header .book i {
    padding: 14px 15px 15px 5px;
}

.header .title {
    display: inline;
    font-weight: normal;
    font-size: 25px;
    padding: 15px 0px 0px 40px;
}

.header input {
    position: absolute;
    right: 20px;
    top: 7px;
    height: 30px;
    width: 20%;
    padding-left: 10px;
}

.ui-accordion-header.ui-state-active {
    border: 0;
}

.sideMenu .sideMenu-options {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sideMenu .chapter {
    cursor: pointer;
}

.sideMenu .chapter:hover {
    text-decoration: underline;
    font-weight: bold;
}

.sideMenu .onOff {
    line-height: 35px;
}

.sideMenu .onOff p-inputswitch { 
    position: absolute;
    right: 31px;
}

.periods .ui-selectbutton {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.periods .ui-selectbutton .ui-button {
    display: table-cell;
    padding-top: 5px;
    background-color: whitesmoke !important;
}

.periods .ui-selectbutton .ui-button:hover {
    background-color: lightgrey !important;
}

.periods .ui-selectbutton .ui-button.ui-state-active {
    background-color: #186ba0 !important;
}

.periods .ui-selectbutton .ui-button.ui-state-active .period_abbrev {
    background-color: #186ba0 !important;
    color: white !important;
}

.periods .ui-selectbutton .ui-button.ui-state-active .period_date {
    background-color: #186ba0 !important;
    color: white !important;
}

.periods .ui-selectbutton .ui-button .period:hover {
    text-decoration: underline;
}

.periods .ui-selectbutton .ui-button .period_abbrev {
    padding: 2px 5px 2px 5px;
}

.periods .ui-selectbutton .ui-button .period_date {
    font-size: 10px;
    color: gray;
    padding: 5px;
}

.split-pane {
    height: calc(100% - 97px) !important;
    display: block;
}

.split-pane-content-primary, .split-pane-content-secondary {
    height: calc(100% - 20px) !important;
}

.book {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}