<div class="header">
  <div class="book">
    <i class="fa fa-bars" aria-hidden="true" (click)="click_menu()"></i><span (click)="click_book()">{{book}} {{chapter}}</span>
  </div>
  <div class="title">Bible "thoughts" with Mark Stone</div>
  <input type="text" pInputText placeholder="Search">
</div>
<p-sidebar [(visible)]="showSideMenu" class="sideMenu toggles">
  <p-selectButton [options]="chronologies" [(ngModel)]="chronology_selected"></p-selectButton>
  <p-selectButton [options]="versedisplays" [(ngModel)]="showLiminal"></p-selectButton>
  <p-selectButton [options]="verselines" [(ngModel)]="showLineByLine"></p-selectButton>
  <p-selectButton [options]="versenumbers" [(ngModel)]="showVerseNumbers"></p-selectButton>
</p-sidebar>
<p-sidebar [(visible)]="showBiblePicker" class="sideMenu books">
  <p-accordion class="books" [activeIndex]="book_num - 1" expandIcon="" collapseIcon="">
    <div *ngFor="let book of books">
      <p-accordionTab header="{{book.title}}">
        <div class="ui-g">
          <div class="ui-g-2 chapter" *ngFor="let c of numArray(1, book.num_of_chapters + 1)" (click)="click_chapter(book.title, c)">{{c}}</div>
        </div>
      </p-accordionTab>
    </div>
  </p-accordion>
</p-sidebar>
<p-selectButton class="periods" [options]="periods_items" [(ngModel)]="periods_selected" multiple="true">
  <ng-template let-item>
    <div class="period" title="{{item.value.name}}" (click)="click_period(item.value)">
      <span class="period_abbrev" [style.color]="item.value.color_text" [style.background-color]="item.value.color_bg">{{item.value.abbrev}}</span>
      <div class="period_date">{{item.value.date}} BCE</div>
    </div>
</ng-template>
</p-selectButton>
<vertical-split-pane class="split-pane" primary-component-minsize="300" primary-component-initialratio="0.5">
    <div class="split-pane-content-primary">
        <div class="book book_left">
          <div *ngFor="let chapter of left_chapters" class="chapter chapter_{{chapter.number}}" [attr.data-number]="chapter.number">
              <div class="ltr" *ngIf="!chapter.rtl">
                <div class="chapter_number" *ngIf="left_chapters.length > 1">{{chapter.number}}</div>
                <app-chapter [chapter]="chapter" [aperiods]="periods_selected" [showVerseNumbers]="showVerseNumbers" [showLineByLine]="showLineByLine" [showLiminal]="showLiminal"></app-chapter>
              </div>
              <div class="rtl" *ngIf="chapter.rtl">
                <div class="chapter_number" *ngIf="left_chapters.length > 1">{{chapter.number}}</div>
                <app-chapter [chapter]="chapter" [aperiods]="periods_selected" [showVerseNumbers]="showVerseNumbers" [showLineByLine]="showLineByLine" [showLiminal]="showLiminal"></app-chapter>
              </div>
          </div>
        </div>
    </div>
    <div class="split-pane-content-secondary">
        <div class="book book_right">
            <div *ngFor="let chapter of right_chapters" class="chapter chapter_{{chapter.number}}" [attr.data-number]="chapter.number">
              <div class="ltr" *ngIf="!chapter.rtl">
                <div class="chapter_number" *ngIf="left_chapters.length > 1">{{chapter.number}}</div>
                <app-chapter [chapter]="chapter" [aperiods]="periods_selected" [showVerseNumbers]="showVerseNumbers" [showLineByLine]="showLineByLine" [showLiminal]="showLiminal"></app-chapter>
              </div>
              <div class="rtl" *ngIf="chapter.rtl">
                <div class="chapter_number" *ngIf="left_chapters.length > 1">{{chapter.number}}</div>
                <app-chapter [chapter]="chapter" [aperiods]="periods_selected" [showVerseNumbers]="showVerseNumbers" [showLineByLine]="showLineByLine" [showLiminal]="showLiminal"></app-chapter>
              </div>
            </div>
        </div>
    </div>
</vertical-split-pane>